@-webkit-keyframes slidein {
  0% {
    opacity: 0;
    -webkit-transform: translate(-30%);
    transform: translate(-30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slidein {
  0% {
    opacity: 0;
    -webkit-transform: translate(-30%);
    transform: translate(-30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes hideshow {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes hideshow {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* Image overlay section */
.img_overlay_main {
  position: relative;
  padding: 100px 60px;
  background-image: url("../images/portrait_samp.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.img_overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(3, 161, 218, 0.53);
}

.img_overlay_content {
  width: 100%;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  text-align: center;
  font-size: 18px;
  color: #fff;
  position: relative;
}

/* Image overlay section End*/

.nav_sign {
  border: none;
  background-color: black;
  border-radius: 0.25rem;
  padding: 0.7rem 2rem;
  color: white;
  font-weight: 800;
  font-size: 12px;
}

.nav_bar_width {
  width: 40%;
}

.nav_log {
  border: none;
  background-color: white;
  border-radius: 0.25rem;
  padding: 0.7rem 2rem;
  color: black;
  font-weight: 800;
  font-size: 16px;
}

.nav_log:focus {
  outline: none;
}

.nav_log:hover {
  background-color: #ddd;
}

.nav_padd {
  padding: 1rem !important;
}

.nav_img {
  width: 40%;
}

.button_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drop_head {
  font-size: 16px;
  cursor: pointer;
}

.drop_head a {
  text-decoration: none !important;
  color: #26247b;
  padding: 0.5rem 1rem;
}

.drop_head a:hover {
  color: #03a1da;
}

.drop_head_menu {
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.drop_head_menu:hover > .draop_head_submenu {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  visibility: visible;
  z-index: 1;
}

.drop_head_menu a {
  text-decoration: none !important;
  color: #26247b;
  padding: 0.5rem 1rem;
}

.drop_head_menu a:hover {
  color: #03a1da;
}

.draop_head_submenu {
  position: absolute;
  top: 57px;
  left: 0;
  background-color: white;
  padding: 1rem;
  width: 400px;
  z-index: -1;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  -webkit-transform-origin: center top 0;
  transform-origin: center top 0;
  visibility: hidden;
}

.draop_head_submenu a {
  color: #26247b;
  text-decoration: none;
  font-size: 18px;
}

.draop_head_submenu a:hover {
  color: #03a1da;
}

.nav_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.consult_nav {
  padding: 1rem 2rem;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border: none;
  background-color: #26247b;
  text-decoration: none !important;
  color: white;
}

.consult_nav:hover {
  border: 2px solid #26247b;
  color: #26247b;
  background-color: white;
}

@keyframes slidein {
  0% {
    opacity: 0;
    -webkit-transform: translate(-30%);
    transform: translate(-30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes hideshow {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.top_address {
  background-color: #37393f;
  padding: 20px 0;
}

.top_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.top_grid .top_gridleft {
  color: white;
}

.top_grid .top_gridleft div {
  display: inline-block;
}

.top_grid .top_gridleft i {
  font-size: 15px;
  color: #03a1da;
  margin-right: 0.5rem;
}

.top_grid .top_gridleft span {
  margin: 0 1rem;
  font-weight: 600;
}

.top_grid .top_gridright {
  color: white;
  margin-left: 8rem;
}

.top_grid .top_gridright i {
  font-size: 15px;
  color: #03a1da;
  margin-right: 0.5rem;
}

.top_grid .top_gridright span {
  margin: 0 1rem;
  font-weight: 600;
}

.social_icon {
  display: inline-block;
}

.section_one {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.8fr 1fr;
  grid-template-columns: 0.8fr 1fr;
}

.section_one .section_oneleft {
  padding: 144px;
  margin: auto;
}

.section_one .section_oneleft h1 {
  font-size: 60px;
  color: white;
}

.section_one .section_oneleft .section_main span {
  color: #03a1da;
  -webkit-animation-name: hideshow;
  animation-name: hideshow;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  display: inline-block;
}

.section_one p {
  font-size: 18px;
  margin-bottom: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
}

.section_one .section_main_due h1 {
  color: #000;
}

.section_one .section_main_due p {
  color: #000;
}

.back_left {
  background-color: #2e2f34;
}

.hero_p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero_square {
  background-color: #03a1da;
  width: 15px;
  height: 15px;
  border: #03a1da;
  margin-right: 0.5rem;
}

.slide {
  -webkit-animation-name: slidein;
  animation-name: slidein;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  margin-bottom: 0 !important;
}

.section_oneright {
  padding-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_oneright img {
  width: 68%;
  margin: auto;
}

.section_onerightone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_onerightone img {
  margin: auto;
  width: 80%;
}

.consult_sec {
  padding: 1rem 2rem;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  margin-top: 3rem;
  background-color: #03a1da;
}

.section_twoleft {
  padding: 140px 140px 70px;
  background-color: #f4f4f4;
  width: 100%;
}

.section_twoleft img {
  width: 100%;
}

.section_twoleft a {
  font-size: 18px;
  font-weight: 600;
  color: #37393f;
  border-bottom: 2px solid #37393f;
  text-decoration: none !important;
}

.section_twoleft a:hover {
  color: #26247b;
}

.section_twoleft p {
  margin-bottom: 1.5rem;
  color: #7d7d7d;
}

.section_twoleft h3 {
  margin-top: 1.5rem;
}

.section_tworight {
  padding: 70px 0 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_tworight .tworight_contain {
  margin: auto;
}

.section_tworight .tworight_contain h4 {
  font-size: 40px;
  font-weight: 600;
}

.section_tworight .tworight_contain p {
  font-size: 18px;
  color: #7d7d7d;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.pros {
  margin-bottom: 1.5rem;
}

.pros i {
  font-size: 21px;
  color: #03a1da;
  margin-right: 0.5rem;
}

.pros span {
  font-size: 20px;
  color: white;
}

.section_threeleft p {
  color: white;
}

.section_threeleft .hero_p p {
  color: white;
}

.clients img {
  width: 150px;
}

.client_pad {
  width: 1400px !important;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.client_pad h1 {
  text-align: center;
  font-size: 40px;
}

.expert {
  text-align: center;
  padding: 80px;
}

.expert h1 {
  font-size: 40px;
}

.expert .hero_p {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.expert_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 2rem;
}

.expert_box {
  background-color: #f4f4f4;
  border-radius: 0.25rem;
  padding: 30px;
}

.expert_box .expert_circle {
  border-radius: 50%;
  width: 74px;
  height: 74px;
  background-color: #03a1da;
}

.expert_box .expert_circle:hover {
  background-color: #26247b;
}

.expert_box .expert_circle i {
  font-size: 48px;
  color: white;
}

.expert_box .expert_circle img {
  width: 40px;
  margin: 1rem;
}

.expert_box .expert_circle img:last-child {
  width: 35px;
}

.expert_box a {
  font-size: 18px;
  float: left;
  text-decoration: none !important;
  color: #03a1da;
}

.team_sec {
  background-position: 50%;
}

.choose_left {
  padding: 120px 60px 120px 120px;
  background-color: #37393f;
  color: white;
}

.padd {
  padding: 80px 0;
}

.padd_one {
  padding: 0 0 80px;
}

.progres {
  background-color: #2e2f34;
  padding: 30px;
  border-radius: 0.25rem;
}

.progres p {
  margin-bottom: 1rem;
}

.choose_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choose_right img {
  width: 80%;
  margin: auto;
}

.progres_circle {
  border-radius: 50%;
  width: 72px;
  height: 72px;
  border: 2px solid #03a1da;
  text-align: center;
  line-height: 63px;
  margin-right: 1rem;
}

.highlight {
  width: 550px;
}

.highlight a {
  text-decoration: none !important;
  border-bottom: 2px solid #03a1da;
  font-weight: 600;
  font-size: 18px;
  height: 30px;
}

.section_two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.section_two h1 {
  color: white;
}

.tetimonial_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}

.testimony {
  background-color: #f4f4f4;
  padding: 30px;
  width: 100%;
}

.testimony .img_test {
  border-radius: 50%;
  font-size: 40px;
  margin-right: 2rem;
}

.testfy_one p {
  color: #7d7d7d;
  font-size: 18px;
}

.progres_circleone {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 2px solid #26247b;
  text-align: center;
  margin-right: 1rem;
}

.progres_circleone h4 {
  margin-top: 1rem;
}

.work_box {
  background-color: #03a1da;
  color: white;
  margin-top: 1.5rem;
  border-radius: 0.25rem;
  padding: 30px;
}

.work_box p {
  width: 300px;
  margin-top: 2rem;
}

.sec_padd_one {
  padding: 100px 0;
  background-color: #26247b;
}

.plan_pro .pros {
  border-bottom: 2px solid white;
}

.plan_pro .pros p {
  margin: 1.5rem;
}

.section_threeright {
  margin-left: 3rem;
}

.section_threeright .hero_p p {
  color: white;
}

.form_back {
  background-color: white;
  padding: 30px 30px 75px;
  margin-top: 2.5rem;
}

.form_back input {
  margin-bottom: 2.5rem;
}

.form_back .form-control {
  height: calc(3.5em + 0.75rem + 2px);
}

.form_back textarea {
  width: 100%;
}

.team_sec {
  background-image: url(/images/team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 250px 0;
}

.team_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team_div .team_our {
  background-color: #2e2f34;
  padding: 40px;
  color: white;
  font-size: 40px;
  font-weight: 600;
  margin: auto;
}

.card_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.point_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.point_grid a {
  color: #03a1da;
}

.point_grid a:hover {
  color: #26247b;
}

.footer_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  border-bottom: 2px solid #7d7d7d;
  height: 100px;
}

.footer_grid img {
  width: 70%;
}

.footer_padd {
  padding: 100px 0;
  background-color: #37393f;
}

.footer_icon i {
  color: #03a1da;
  margin-left: 1rem;
  font-size: 40px;
}

.footer_icon p {
  color: white;
  margin-bottom: 0;
}

.footer_icon p:first-child {
  font-size: 20px;
}

.footer_icon .icon_circle {
  border-radius: 50%;
  background-color: #2e2f34;
  width: 72px;
  height: 72px;
  line-height: 72px;
  margin-right: 1.5rem;
}

.footer_ul a {
  text-decoration: none !important;
  font-size: 18px;
  color: #03a1da;
}

.footer_ul a:hover {
  color: #26247b;
}

.footer_ul li {
  margin-bottom: 1rem;
}

.footer_ul li:first-child {
  margin-top: 1rem;
}

.footer_twogrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 1.5fr;
  grid-template-columns: 0.5fr 1.5fr;
  grid-gap: 30px;
  margin-top: 2.5rem;
}

.foot_inner_img {
  background-color: #2e2f34;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot_inner_img .footer_link {
  margin: auto;
}

.foot_inner_img .footer_link p {
  color: white;
}

.foot_inner_img .footer_link .new_user {
  height: calc(2em + 0.75rem + 2px);
}

.foot_inner_img .footer_link .footer_submit {
  background-color: transparent;
  border: 1.5px solid #03a1da;
  color: white;
}

.foot_inner_img .footer_link .footer_submit:hover {
  background-color: #03a1da;
  color: white;
}

.foot_inner_img .fott_submit {
  background-color: #03a1da;
  color: white;
  border: none;
  padding: 7px;
}

.footer_two {
  margin-top: 2.5rem;
}

.footer_two .social_icon i {
  color: white;
  margin-right: 1.5rem;
}

.footer_text p {
  color: white;
}

.footer_width .slide {
  color: white;
}

.expert_div_due .section_one p {
  color: #000;
  margin-bottom: 1.5rem;
}

.section_one .section_twoaboutleft {
  padding: 8.75rem 8rem 8.75rem;
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_one .section_twoaboutleft img {
  width: 100%;
  margin: auto;
}

.section_one .section_twoaboutright {
  padding: 140px 140px 70px;
}

.section_one .section_twoaboutright .tworight_contain p {
  color: #7d7d7d;
  margin-bottom: 1.5rem;
}

.section_oneaboutright {
  background-image: url(/images/about_us.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 0%;
}

.about_head {
  padding: 10px 140px 10px;
}

.expert_div .slide {
  font-size: 18px;
  font-weight: 600;
}

.expert_div .section_main h1 {
  color: #03a1da;
}

.expert_div .section_main .chennai,
.expert_div .section_main .bangalore {
  background-color: white;
  padding: 20px;
}

.expert_div .section_main .chennai i,
.expert_div .section_main .bangalore i {
  color: white;
  background-color: #2e2f34;
  border-radius: 50%;
  padding: 10px;
  width: 25px;
  height: 25px;
  margin-right: 1rem;
}

.expert_div .section_main .chennai p,
.expert_div .section_main .bangalore p {
  color: #000;
  margin-bottom: 2rem;
}

.expert_div .section_main_due .due_grid_due p {
  color: #000;
}

.expert_div .section_main_due .due_grid_due ul li {
  color: #000;
}

.expert_div .hero_p p {
  color: white;
}

.expert_div .back_left {
  padding: 5rem;
}

.expert_div ul li {
  color: white;
  margin-bottom: 0.5rem;
}

.expert_div .section_one p {
  margin-bottom: 1.5rem;
}

.due_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.due_grid p {
  color: #03a1da;
}

.due_grid .chennai,
.due_grid .bangalore {
  margin: auto;
}

.due_grid a {
  text-decoration: none !important;
  border-bottom: 2px solid #03a1da;
  color: #03a1da;
}

@media screen and (max-width: 320px) and (max-width: 375px) {
  .top_grid {
    text-align: center;
  }
  .padd_one {
    padding: 0 0 40px;
  }
  .padd {
    padding: 40px 0;
  }
  .sec_padd_one {
    padding: 100px 0 0;
  }
  .nav_img {
    width: 80%;
    margin: 0.5rem;
  }
  .client_pad {
    width: 350px !important;
  }
  .section_one {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  .section_one .section_oneleft {
    padding: 60px;
  }
  .section_one .section_oneleft h1 {
    font-size: 32px;
  }
  .section_one h1 {
    font-size: 32px;
  }
  .section_one .section_oneright {
    display: none;
  }
  .section_one .section_twoaboutleft {
    padding: 40px;
  }
  .section_twoleft {
    padding: 20px 20px 30px;
  }
  .section_two {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .section_two h1 {
    font-size: 32px;
  }
  .section_tworight {
    padding: 20px;
    width: 400px;
  }
  .section_tworight .tworight_contain {
    width: 90%;
  }
  .section_tworight .tworight_contain h4 {
    font-size: 32px;
  }
  .expert_grid {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
  }
  .expert {
    padding: 0;
  }
  .expert_div .back_left {
    padding: 1.5rem;
  }
  .section_onerightone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section_onerightone img {
    margin: auto;
    width: 80%;
    display: none;
  }
  .choose_left {
    padding: 120px 20px;
  }
  .footer_twogrid {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 1rem;
  }
  .footer_grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    height: 200px;
    padding-left: 1rem;
  }
  .footer_grid img {
    width: 45%;
  }
  .tetimonial_grid {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .section_threeleft,
  .section_threeright {
    width: 300px;
    padding: 0;
  }
  .footer_icon .icon_circle {
    width: 70px;
    height: 70px;
    line-height: 69px;
  }
  .footer_icon i {
    font-size: 30px;
    margin-left: 1.2rem;
  }
  .footer_padd {
    padding: 50px 0;
  }
  .card_grid {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .top_grid {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .top_grid .top_gridright {
    margin: 0;
  }
  .work_box {
    width: 335px !important;
    padding: 15px;
  }
  .work_box p {
    width: 335px;
  }
  .section_threeleft p {
    width: 335px;
    font-size: 18px;
  }
  .form_back {
    width: 340px !important;
  }
  .choose_right {
    background-position: 72% 0%;
  }
}

@media screen and (max-width: 375px) {
  .top_grid {
    text-align: center;
  }
  .padd_one {
    padding: 0 0 40px;
  }
  .padd {
    padding: 40px 0;
  }
  .sec_padd_one {
    padding: 100px 0 0;
  }
  .choose_right {
    background-position: 72% 0%;
  }
  .nav_img {
    width: 80%;
    margin: 0.5rem;
  }
  .client_pad {
    width: 350px !important;
  }
  .section_one {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  .section_one .section_oneleft {
    padding: 60px;
  }
  .section_one .section_oneleft h1 {
    font-size: 32px;
  }
  .section_one h1 {
    font-size: 32px;
  }
  .section_one .section_oneright {
    display: none;
  }
  .section_one .section_twoaboutleft {
    padding: 40px;
  }
  .section_twoleft {
    padding: 20px 20px 30px;
  }
  .section_two {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .section_two h1 {
    font-size: 32px;
  }
  .section_tworight {
    padding: 20px;
    width: 360px !important;
  }
  .section_tworight .tworight_contain {
    width: 90%;
  }
  .section_tworight .tworight_contain h4 {
    font-size: 32px;
  }
  .expert_grid {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
  }
  .expert {
    padding: 0;
  }
  .expert_div .back_left {
    padding: 1.5rem;
  }
  .section_onerightone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section_onerightone img {
    margin: auto;
    width: 80%;
    display: none;
  }
  .choose_left {
    padding: 120px 20px;
  }
  .footer_twogrid {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 1rem;
  }
  .footer_grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    height: 200px;
    padding-left: 1rem;
  }
  .footer_grid img {
    width: 45%;
  }
  .tetimonial_grid {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .section_threeleft,
  .section_threeright {
    width: 300px;
    padding: 0;
  }
  .footer_icon .icon_circle {
    width: 70px;
    height: 70px;
    line-height: 69px;
  }
  .footer_icon i {
    font-size: 30px;
    margin-left: 1.2rem;
  }
  .footer_padd {
    padding: 50px 0;
  }
  .card_grid {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .top_grid {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .top_grid .top_gridright {
    margin: 0;
  }
  .work_box {
    width: 335px !important;
    padding: 15px;
  }
  .work_box p {
    width: 335px;
  }
  .section_threeleft p {
    width: 335px;
    font-size: 18px;
  }
  .form_back {
    width: 345px !important;
  }
}

@media screen and (max-width: 425px) {
  .due_grid {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .bangalore p,
  .chennai p {
    width: 300px;
  }
  .top_grid {
    text-align: center;
  }
  .padd_one {
    padding: 0 0 40px;
  }
  .padd {
    padding: 40px 0;
  }
  .sec_padd_one {
    padding: 100px 0 0;
  }
  .choose_right {
    background-position: 72% 0%;
  }
  .nav_img {
    width: 80%;
    margin: 0.5rem;
  }
  .client_pad {
    width: 350px !important;
  }
  .section_one {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  .section_one .section_oneleft {
    padding: 60px;
  }
  .section_one .section_oneleft h1 {
    font-size: 32px;
  }
  .section_one h1 {
    font-size: 32px;
  }
  .section_one .section_oneright {
    display: none;
  }
  .section_one .section_twoaboutright {
    padding: 30px;
  }
  .section_one .section_twoaboutleft {
    padding: 40px;
  }
  .section_twoleft {
    padding: 20px 20px 30px;
  }
  .section_two {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .section_two h1 {
    font-size: 32px;
  }
  .section_tworight {
    padding: 20px;
    width: 425px;
  }
  .section_tworight .tworight_contain {
    width: 90%;
  }
  .section_tworight .tworight_contain h4 {
    font-size: 32px;
  }
  .expert_grid {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
  }
  .expert {
    padding: 0;
  }
  .expert_div .back_left {
    padding: 1.5rem;
  }
  .section_onerightone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section_onerightone img {
    margin: auto;
    width: 80%;
    display: none;
  }
  .choose_left {
    padding: 120px 20px;
  }
  .choose_right {
    display: none;
  }
  .footer_twogrid {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 1rem;
  }
  .footer_grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    height: 360px;
    padding-left: 1rem;
  }
  .footer_grid img {
    width: 45%;
  }
  .tetimonial_grid {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .section_threeleft,
  .section_threeright {
    width: 300px;
    padding: 0;
  }
  .footer_icon .icon_circle {
    width: 70px;
    height: 70px;
    line-height: 69px;
  }
  .footer_icon i {
    font-size: 30px;
    margin-left: 1.2rem;
  }
  .footer_padd {
    padding: 50px 0;
  }
  .card_grid {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .top_grid {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .top_grid .top_gridright {
    margin: 0;
  }
  .progres_circleone {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    font-size: 12px;
  }
  .progres_circleone h4 {
    margin-top: 1rem;
  }
  .section_threeright {
    margin-left: 0;
  }
  .work_box {
    width: 394px;
    padding: 15px;
  }
  .work_box p {
    width: 335px;
  }
  .section_threeleft p {
    width: 335px;
    font-size: 18px;
  }
  .form_back {
    width: 383px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .top_grid {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .top_grid .top_gridright {
    margin-left: 0;
  }
  .con_width {
    width: 600px !important;
  }
  .client_pad {
    width: 600px !important;
  }
  .section_one .section_oneleft {
    padding: 85px;
  }
  .section_twoleft {
    padding: 20px 25px 35px 58px;
  }
  .section_twoleft p {
    width: 600px;
  }
  .section_twoleft h3 {
    width: 600px;
  }
  .section_one {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .section_two {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .tetimonial_grid {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .choose_right {
    background-position: 77% 0%;
  }
  .footer_icon i {
    font-size: 25px;
    margin-left: 0.8rem;
  }
  .footer_icon .icon_circle {
    width: 80px;
    height: 50px;
    line-height: 52px;
  }
  .footer_icon .icon_circle:last-child {
    width: 66px;
  }
  .card_grid {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .progres {
    width: 450px;
  }
  .work_box {
    width: 600px;
    padding: 15px;
  }
  .work_box p {
    width: 600px;
  }
  .plan_pro {
    width: 600px;
  }
  .form_back {
    width: 600px;
  }
  .footer_twogrid {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .client_pad {
    width: 1000px !important;
  }
  .section_one .section_oneleft {
    padding: 60px;
  }
  .section_twoleft {
    padding: 20px 25px 35px 58px;
  }
  .section_tworight {
    padding: 70px 0 0 15px;
  }
  .section_tworight .tworight_contain {
    width: 450px;
  }
  .choose_left {
    padding: 120px 60px 120px 60px;
  }
  .choose_right {
    background-position: 77% 0%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1280px) {
  .client_pad {
    width: 1000px !important;
  }
  .section_one .section_oneleft {
    padding: 60px;
  }
  .section_twoleft {
    padding: 20px 25px 35px 58px;
  }
  .section_tworight {
    padding: 70px 0 0 35px;
  }
  .choose_left {
    padding: 120px 60px 120px 60px;
  }
  .choose_right {
    background-position: 77% 0%;
  }
  .section_one .section_twoaboutright {
    padding: 140px 70px;
  }
  .section_one .section_twoaboutleft {
    padding: 320px 70px;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1440px) {
  .client_pad {
    width: 1000px !important;
  }
  .section_one .section_oneleft {
    padding: 60px;
  }
  .section_twoleft {
    padding: 5rem;
  }
  .choose_right {
    background-position: 95% 0%;
  }
  .progres_circle {
    height: 55px;
    line-height: 51px;
    margin: 1.3rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
  overflow-x: hidden;
}

.common-none {
  display: none;
}

button:focus {
  outline: none !important;
}
/*# sourceMappingURL=main.css.map */
